!!!
%html
  %head
    %title Express Coffee Node 
    %meta{ charset: 'utf-8' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/reset.css' }
    
    %link{ rel: 'stylesheet', type: 'text/css', href: '/app.css' }

  %body
    != body
    
    %script{ src: '/app.js', type: 'text/javascript' }
    