!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title title
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css('foundation.min')
  != css('app')
  
body
  header
    .row
      nav.top-bar
        ul
          li.name
            h1
              a appyun
          li.toggle-topbar
            a
        section
          ul.left
            li
              a link1
          ul.right
            li
              a link2

  section.container
    block content
  footer
  
  //- != js('jquery.js')
  != js('foundation.min')
  != js('jquery.foundation.topbar')
  != js('app')

| </html>