h2.animate {  
    -moz-animation-duration: 3s;  
    -moz-animation-name: slidein;  
  }  
    
  @-moz-keyframes slidein {  
    from {  
      margin-left: 100%;  
      width: 300%  
    }  
      
    to {  
      margin-left: 0%;  
      width: 100%;  
    }  
  }  