extends ../layout
block content
  .row
    .nine.columns
      h6 
        a(href='#') Firefox: WebRTC for desktop is now in Nightly…
    .three.columns
      a(href="#").tiny.radius.secondary.button #旅游 
      &nbsp;
      a(href="#").tiny.radius.secondary.button #color 
      &nbsp;
      a(href="#").tiny.radius.secondary.button #path

  - each post in posts
    .row
      .nine.columns
        h6 
          a(href='#') post.title
      .three.columns
        a(href="#").tiny.radius.secondary.button #旅游 
        &nbsp;
        a(href="#").tiny.radius.secondary.button #color 
        &nbsp;
        a(href="#").tiny.radius.secondary.button #path
    